/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background-image: url('../img/Hero.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.grid-container {
  grid-template-areas: "header header";
}

.grid-item {
  grid-area: header;
}

header {
  width: 100%;
  height: 150px;
}

.navbar {
  /*background-color: #f1f3fb; */
  background: transparent;
  background-color: rgba(0, 0, 0, 0.159);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;  
  top: 0;
}

ul{
  list-style: none;
}

li, a {
  display: inline-block;
  padding: 10px 10px;
  font-size: 20px;
  color: #222;
  text-decoration: none;
  font-family: 'links';
}

@font-face {
  font-family: links;
  src: url(../fonts/Redrock\ Black.ttf);
}

li, a:hover {
  color: rgb(252, 13, 13);
}

.menu {
  display: none;
}

.menu-line {
  width: 20px;
  height: 4px;
  background-color: #000;
  margin-bottom: 4px;
}

/* End of navbar and heading */

.hero-text {
  color: #fff;
  font-size: 40px;
  line-height: 65px;
  font-family: 'hero-text';
  padding-left: 5%;
}

@font-face {
  font-family: hero-text;
  src: url(../fonts/Allegro.otf);
}

.hero-info {
  color: #fff;
  font-size: 25px;
  line-height: 27px;
  padding:30px 0;
  padding-left: 5%;
  font-family: 'hero-info';
}

@font-face {
  font-family: hero-info;
  src: url(../fonts/Doubt.ttf);
}

.btn-more-info {
    background-color: rgba(0, 0, 0, 0.487);
    border: none;
    color: white;
    padding: 2px 20px 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    margin-top: 1%;
    border-radius: 45px;
    font-family: 'button_text';
    margin-left: 5%;
}
  
  .btn-more-info:hover {
    background-color: #575757; /* Green */
    color: white;
  }

  @font-face {
    font-family: button_text;
    src: url(../fonts/Luckymoon.ttf);
  }


  section {
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.487);
    margin-top: 30%;
  }

 #info-title {
   padding-top: 10%;
   color: #ffff;
   text-align: center;
   font-size: 25px;
   font-family: 'hero-info';
  }

  .info-text {
    color: #ffff;
    text-align: center;
    font-size: 20px;
    font-family: 'hero-info';
    padding-top: 3%;
  }


  .Contact {
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.487);
    margin-top: 0%;
  }

  #contact-us {
    font-size: 30px;
    color: #ccc;
    margin-bottom: 5%;
    text-align: center;
    padding-top: 8%;
  }

  .contact-form-text {
    display: block;
    width: 90%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: rgba(17, 17, 17, 0.52);
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    margin-left: 5%;
  }

  input[type=submit] {
    background-color: rgba(0, 0, 0, 0.487);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    margin-left: 5%;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }

  footer {
    width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.487);
    margin-top: 10%;
  }

#google-image {
  margin-left: 50%;
}

@media only screen and (max-width: 486px) {
  .navbar {
    flex-direction: column;
    position: relative;
  }
  .menu {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }

  ul {
    display: none;
  }
li, a{
  display: block;
  border-top: 1px solid white;
  padding: 10px 10px;
  text-align: center;
}

.xxx {
  margin-right: 75%;
}

.active {
  display: block;
}

.contianer {
  margin-top: 22%;
}

body {
  background-image: url('../img/Hero.jpg');
  background-size: 100% 100%;
}

#google-image {
  margin-left: 5%;
}

} /* End of Media Queries 460px */



/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

